<?xml version="1.0" encoding="utf-8"?>
<manifest package="vn.dinosys.dinosys_apptemplate"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".app.TemplateApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.template.FABActivity"
            android:label="@string/title_activity_fab"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.template.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".ui.activity.template.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.template.UserListActivity"
            android:label="@string/title_user_list"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.template.UserDetailActivity"
            android:label="@string/title_user_detail"
            android:parentActivityName=".ui.activity.template.UserListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vn.dinosys.dinosys_apptemplate.ui.activity.template.UserListActivity"/>
        </activity>
        <activity
            android:name=".ui.activity.template.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".ui.activity.template.NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>